<!--suppress ALL -->
<template>

    <div>

        <div id="affectiva-component" class="text-center">

            <div id="affectiva-webcam-frame"></div>
            <button class="btn btn-sm btn-toggle-sound" v-bind:class="toggleButtonStyle" @click="toggleSound">
                {{ toggleSoundButtonLabel }}
            </button>

        </div>

    </div>

</template>

<script>

    import bus from './../../../bus';

    export default {

        props: ['disableFrameCapture'],

        data() {
            return {
                isVideoPlaying: false,
                currentVideoTime: 0,
                questions: [],
                frames: [],
                affectiva: null,
                faceVideoCanvas: null,
                debug: true,
                lastFaceVerification: true,
                soundContext: null,
                makeSound: false,
                isWaiting: false
            };
        },

        mounted() {

            this.log('Initializing Affectiva');

            this.soundContext = new AudioContext();            
            this.registerListeners();

            let divRoot = $("#affectiva-webcam-frame")[0];
            let faceMode = affdex.FaceDetectorMode.SMALL_FACES;
            this.affectiva = new affdex.CameraDetector(divRoot, 170, 120, faceMode);

            this.affectiva.detectAllEmotions();
            //this.affectiva.detectAllExpressions();
            //this.affectiva.detectAllEmojis();
            //this.affectiva.detectAllAppearance();

            this.affectiva.addEventListener("onWebcamConnectFailure", this.onWebcamConnectFailure);

            this.affectiva.addEventListener("onInitializeFailure", this.onInitializeFailure);

            this.affectiva.addEventListener("onInitializeSuccess", this.onInitializeSuccess);

            this.affectiva.addEventListener("onImageResultsSuccess", this.onImageResultsSuccess);

            this.affectiva.start();

        },

        computed: {

            toggleSoundButtonLabel() {

                return this.makeSound ? 'Desligar som' : 'Ligar som';

            },

            toggleButtonStyle() {

                return {'btn-primary': this.makeSound, 'btn-default': !this.makeSound};

            }

        },

        methods: {

            getFilteredFrames() {

                /**
                 * Only gets half of the frames. This is to avoid
                 * sending too much data to the server.
                 */
                return this.frames.filter(function (frame, index) {

                    return index % 2 === 0;

                });

            },

            stop() {

                this.affectiva.stop();

            },

            onInitializeSuccess() {

                this.log('Affectiva initialized');

                this.faceVideoCanvas = $("#face_video_canvas");
                this.faceVideoCanvas.css("display", "block");

                this.$emit('initialized');

            },

            onWebcamConnectFailure() {

                this.log('Affectiva webcam error');

                this.$emit('webcamError');

            },

            onInitializeFailure() {

                this.log('Affectiva initialization error');

                this.$emit('initializationError');

            },

            canCaptureFrame() {

                return this.isVideoPlaying || this.questions.length > 0;

            },

            changeFaceVideoCanvasBorder(hasFaces = false) {

                if (this.questions.length > 0) {

                    this.faceVideoCanvas.css("border-color", hasFaces ? "yellow" : "red");

                } else {

                    this.faceVideoCanvas.css("border-color", hasFaces ? "green" : "red");

                }

            },

            emitSoundOnFocusLost(hasFaces) {

                if (!this.makeSound)
                    return;

                if (hasFaces !== this.lastFaceVerification) {

                    this.lastFaceVerification = hasFaces;

                    if (hasFaces === false) this.playSound();

                }

            },

            refreshCameraState(hasFaces) {

                if(this.isWaiting) return;

                setTimeout(function () {

                    if(!this.affectiva.isRunning) return;

                    this.changeFaceVideoCanvasBorder(hasFaces);

                    this.emitSoundOnFocusLost(hasFaces);

                    this.isWaiting = false;

                }.bind(this), 500);

                this.isWaiting = true;

            },

            onImageResultsSuccess(faces) {

                const hasFaces = faces.length > 0;

                this.refreshCameraState(hasFaces);

                if (!this.canCaptureFrame())
                    return;

                if (!hasFaces)
                    return;

                this.frames.push({

                    emotions: this.convertEmotionsToIntegers(faces[0].emotions),
                    seconds: this.currentVideoTime,
                    questions: this.questions,
                    unixTime: + new Date()


                });

                this.log('Captured frame');

            },

            convertEmotionsToIntegers(emotions) {

                for(let property in emotions) {

                    if (!emotions.hasOwnProperty(property)) continue;

                    const value = emotions[property];

                    emotions[property] = value.toFixed ? Number(value.toFixed(0)) : value;

                }

                return emotions;

            },

            registerListeners() {

                const $this = this;

                bus.$on('PLAYER_PLAYING', function () {
                    $this.isVideoPlaying = true;
                });

                bus.$on('PLAYER_PAUSED', function () {
                    $this.isVideoPlaying = false;
                });

                bus.$on('PLAYER_ENDED', function () {
                    $this.isVideoPlaying = false;
                    $this.log($this.frames.length + ' frames captured');
                });

                bus.$on('PLAYER_COUNT_SECOND', function (seconds) {
                    $this.currentVideoTime = seconds;
                });

                bus.$on('LESSON_SHOWED_QUESTIONS', function (questions) {
                    $this.questions = questions;
                });

                bus.$on('LESSON_FINISHED_QUESTIONS', function () {
                    $this.questions = [];
                });

            },

            log(message) {

                if (!this.debug)
                    return;

                console.log(message);

            },

            playSound() {

                const o = this.soundContext.createOscillator();
                const g = this.soundContext.createGain();
                o.type = "square";
                o.connect(g);
                g.connect(this.soundContext.destination);
                g.gain.exponentialRampToValueAtTime(0.00001, this.soundContext.currentTime + 0.2);
                o.start(0);

            },

            toggleSound() {

                this.makeSound = !this.makeSound;

            }

        }

    }

</script>

<style scoped>

    #affectiva-component {

        position: absolute;
        right: 0;
        top: 0;

    }

    .btn-toggle-sound {

        width: 100%;

    }

</style>