<template>

    <div>

        <div class="form-group">

            <form action="#" @submit="submit">

                <label>Endereço de e-mail</label>
                <input ref="email" type="email" class="form-control" v-model="form.email">
                <small>Informe seu e-mail para verificarmos se você já fez algum teste em nossa plataforma</small>

                <button type="submit" class="btn btn-primary btn-block btn-next">Próximo</button>

            </form>

        </div>

    </div>

</template>

<script>

    import client from './../../../client';

    export default {

        props: ['email'],

        data() {
            return {
                form: {email: this.email}

            };
        },

        mounted() {
            this.$refs.email.focus();
            if (this.form.email) {
//                this.form.email = this.props.email;
                client.verifyEmail(this.form.email).then(function (student) {

                    this.$emit('studentFound', student);

                    if (!this.$emit('studentFound', student)) {
                        //alert('Você não é Aluno! Somente Alunos podem assistir as aulas!');
                        this.$emit('studentFound', student);
                    }

                }.bind(this));

            }
        },

        methods: {

            submit(e) {

                e.preventDefault();

                client.verifyEmail(this.form.email).then(function (student) {

                    this.$emit('studentFound', student);

                    if (!this.$emit('studentFound', student)) {
                        //alert('Você não é Aluno! Somente Alunos podem assistir as aulas!');
                        this.$emit('studentFound', student);
                    }

                }.bind(this));

            }

        }

    }

</script>
