<template>

    <div class="form-group">

        <p><label>Obrigado!</label></p>

        <!--<div v-html="student"></div>-->

        <div class="alert alert-success">
            <p>Você já está cadastrado :)</p>
        </div>

        <a :href="window.url('dashboard')" class="btn btn-primary">Fazer login</a>
        
    </div>

</template>

<script>

    export default {

        props: ['student'],

        data() {
            return {
                window: window,
                studentName: null,

            };
        },

        mounted(){
            this.studentName = this.student;
        }

    }

</script>
