<template>

    <div>

        <div class="form-group">

            <form action="#" @submit="submit">

                <p><label>Preencha todos os campos abaixo para completar seu registro antes do início da aula.</label>
                </p>

                <div class="form-group">
                    <label>Nome</label>
                    <input ref="name" type="text" class="form-control" v-model="form.name">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" v-model="form.email">
                </div>

                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" class="form-control" v-model="form.password">
                </div>

                <div class="form-group">
                    <label>Data de Nascimento</label>
                    <input type="text" class="form-control" v-model="form.birth_date">
                </div>

                <div class="form-group">
                    <label>Sexo</label>
                    <select v-model="form.gender" class="form-control">
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Grau de escolaridade (cursando) </label>
                    <select v-model="form.educational_level" class="form-control">
                        <option value=0>Fundamental</option>
                        <option value=1>Médio</option>
                        <option value=2>Superior</option>
                        <option value=3>Mestre</option>
                        <option value=4>Doutor</option>
                    </select>
                </div>

                <div class="form-group" v-if="form.educational_level > 1">
                    <div class="form-group">
                        <label>Universidade</label>
                        <input type="text" class="form-control" v-model="form.college">
                    </div>

                    <div class="form-group">
                        <label>Curso</label>
                        <input type="text" class="form-control" v-model="form.course">
                    </div>
                </div>

                <div class="form-group" v-if="form.educational_level < 2">
                    <div class="form-group">
                        <label>Escola</label>
                        <input type="text" class="form-control" v-model="form.college">
                    </div>

                    <div class="form-group">
                        <label>Série/Ano</label>
                        <input type="text" class="form-control" v-model="form.course">
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" v-model="form.handicap_bool">
                            Eu sou portador de necessidades especiais
                        </label>
                    </div>
                </div>


                <div class="form-group" v-show="form.handicap_bool">
                    <label>Qual tipo de necessidade?</label>
                    <select v-model="form.handicap_type" class="form-control">
                        <option value="blind">Cego</option>
                        <option value="visual">Deficiência visual (baixa visão)</option>
                        <option value="deaf_mute">Surdo/Mudo</option>
                        <option value="auditory">Deficiência auditiva (perda auditiva)</option>
                        <option value="motor">Deficiência motora</option>
                        <option value="comunication">Problemas de comunicação (distúrbios da fala e linguagem)</option>
                        <option value="other">Outros. Qual?</option>
                    </select>

                    <div class="form-group" v-show="form.handicap_type === 'other'">

                        <label>Especifique sua necessidade especial</label>
                        <input type="text" class="form-control" v-model="form.handicap_custom_type">

                    </div>

                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" v-model="form.play_musical_instrument">
                            Eu toco algum instrumento musical
                        </label>
                    </div>
                </div>

                <div class="form-group" v-show="form.play_musical_instrument">
                    <label>Qual tipo de instrumento você toca?</label>
                    <select v-model="form.which_instrument" class="form-control">
                        <option value="strings">Cordas</option>
                        <option value="wind">Sopro</option>
                        <option value="percursion">Percursão</option>
                        <option value="keys">Teclas</option>
                    </select>
                </div>




                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" v-model="form.terms_of_use">
                            Eu li e aceito as condições do <a data-toggle="modal" data-target=".bd-example-modal-lg" style="text-decoration: none">Termo de Consentimento da Ferramenta ACACIA</a>.
                        </label>
                    </div>
                </div>


                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Termo de Consentimento
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </h5>
                            </div>
                            <div class="modal-body" style="text-align: justify">
                               <label>OBJETIVO DO ESTUDO </label>
                                <p>Este estudo visa realizar uma investigação sobre a relação existente entre o processo de aprendizagem e as emoções envolvidas neste processo</p>
                                <label>PROCEDIMENTO</label>
                                <p>Durante a visualização das aulas neste ambiente suas expressões faciais estarão sendo analisadas e correlacionadas com sete tipos de emoções básicas: raiva, alegria, tristeza, medo, nojo, desprezo e surpresa. Ao finalizar a aula será gerado um relatório com as emoções que foram percebidas por você durante assistir as aulas neste ambiente. Os dados referentes as emoções servidas serão mantidas nesta base de dados.</p>
                                <label>CONFIDENCIALIDADE</label>
                                <p>Eu estou ciente de que meu nome não será divulgado em hipótese alguma. Também estou ciente de que os dados obtidos por meio deste estudo serão mantidos sob confidencialidade. Da mesma forma, me comprometo em manter sigilo das técnicas e documentos apresentados e que fazem parte do experimento.</p>
                                <label>CONSENTIMENTO</label>
                                <p>Eu entendo que, uma vez o experimento tenha terminado, os trabalhos que serão resultantes como análises gerais dos dados, estabelecimentos de correlações são resultados da pesquisa desenvolvida e concordo que meus dados capturados pelas ferramentas sejam utilizados. Por fim, declaro que participo de livre e espontânea vontade com o único intuito de contribuir para o avanço e desenvolvimento de técnicas e processos para a melhoria do processo de ensino e de aprendizagem.</p>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>

                </div>

                <button v-show="form.terms_of_use" type="submit" class="btn btn-primary btn-block btn-next">Próximo</button>

            </form>

        </div>

    </div>

</template>

<script>

    import client from './../../../client';

    export default {

        props: ['student'],

        data() {
            return {
                form: {
                    name: '',
                    email: '',
                    gender: '',
                    college: '',
                    course: '',
                    handicap_bool: false,
                    handicap_type: 'blind',
                    handicap_custom_type: '',
                    play_musical_instrument: false,
                    which_instrument: 'strings',
                    educational_level: '',
                    password: '',
                    role: 'student',
                    birth_date: '00/00/0000',
                    terms_of_use: false

                }
            };
        },

        mounted() {
            this.form.email = this.student.email;

            this.$refs.name.focus();
        },

        methods: {

            submit(e) {

                e.preventDefault();

                let data = this.form;

                data.musical_instrument = null;

                if (this.form.handicap_bool) {
                    if (this.form.handicap_type === "other") {
                        data.handicap_bool = this.form.handicap_custom_type;
                    } else {
                        data.handicap_bool = this.form.handicap_type;
                    }
                }else {
                    data.handicap_bool = null;
                }

                if (this.form.play_musical_instrument)
                    data.musical_instrument = this.form.which_instrument;

                if (this.form.educational_level === 0) {
                    data.educational_level = 'elemetary school';
                } else if (this.form.educational_level === 1) {
                    data.educational_level = 'high school';
                } else if (this.form.educational_level === 2) {
                    data.educational_level = 'bachelor';
                } else if (this.form.educational_level === 3) {
                    data.educational_level = 'master';
                } else if (this.form.educational_level === 4) {
                    data.educational_level = 'doctor';
                }


                client.registerStudent(this.student.uuid, data).then(function () {

                    this.$emit('registrationFinished');

                }.bind(this));

            }

        }

    }

</script>