<template>

    <div>

        <div class="form-group">

            <p><label>Preencha todos os campos abaixo para continuar com a aula.</label></p>

            <form action="#" @submit="pular">
                <button type="submit" class="btn btn-primary btn-block btn-next">
                     Pular etapa

                </button>
            </form>

            <form action="#" @submit="submit">

                <template v-for="question in questions">

                    <div class="form-group">
                        <label>{{ question.number + '.' + question.text }}</label>
                        <template v-for="option in question.options">
                            <div class="radio">
                                <label>
                                    <input type="radio" :value="option.letter" v-model="question.answer">
                                    {{ option.letter + '.' + option.text }}
                                </label>
                            </div>
                        </template>
                    </div>

                </template>

                <button type="submit" class="btn btn-primary btn-block btn-next">Próximo</button>

            </form>

        </div>

    </div>

</template>

<script>

    import client from './../../../client';

    export default {

        props: ['student', 'ils'],

        data() {
            return {
                questions: this.ils
            };
        },

        methods: {

            pular(e){
              e.preventDefault();

              return this.$emit('ilsFinished', null);
            },
            submit(e) {

                e.preventDefault();

                const answers = this.questions.map(function (question) {

                    return {
                        number: question.number,
                        answer: question.answer
                    };

                });

                client.storeIlsResult(this.student.uuid, {answers}).then(function (results) {

                    this.$emit('ilsFinished', results);

                }.bind(this));

            }

        }

    }

</script>