<template>

    <div>

        <div class="form-group">

            <p>
                <label>Deixe sua opinião sobre essa aula. Seu feedback é importante para melhorarmos nossos materiais!</label>
            </p>

            <form action="#" @submit="submit">

                <div class="row row-question" v-for="(question, index) in questions">
                    <div class="col-md-6"><label>{{ question }}</label></div>
                    <div class="col-md-6"><select class="form-control" v-model="answers[index]"><option v-for="(option, index) in options" :value="index">{{ option }}</option></select></div>
                </div>

                <button type="submit" class="btn btn-primary btn-block btn-next">Próximo</button>

            </form>

        </div>

    </div>

</template>

<script>

    import client from './../../../client';

    export default {

        props: ['results'],

        data() {
            return {

                questions: {
                    surprised: 'Fiquei surpreso',
                    proud: 'Senti-me orgulhoso',
                    sad: 'Por algum motivo fiquei triste',
                    excited: 'Fiquei entusiasmado',
                    interesting: 'Achei interessante',
                    devalued: 'Senti-me desvalorizado',
                    ashamed: 'Por algum motivo fiquei envergonhado',
                    happy: 'Fiquei feliz',
                    sorry: 'Senti-me arrependido',
                    expectancy: 'Criei expectativa',
                    fear: 'Senti medo',
                    quiet: 'Fiquei tranquilo',
                    aversion: 'Senti uma certa aversão',
                    satisfied: 'Senti-me satisfeito',
                    angry: 'Fiquei irritado',
                    jealous: 'Por algum motivo senti ciúmes',
                    indifferent: 'Fiquei indiferente',
                },

                options: {
                    1: 'muito fraco',
                    2: 'fraco',
                    3: 'nem fraco, nem forte',
                    4: 'forte',
                    5: 'muito forte',
                },

                answers: {
                    surprised: 1,
                    proud: 1,
                    sad: 1,
                    excited: 1,
                    interesting: 1,
                    devalued: 1,
                    ashamed: 1,
                    happy: 1,
                    sorry: 1,
                    expectancy: 1,
                    fear: 1,
                    quiet: 1,
                    aversion: 1,
                    satisfied: 1,
                    angry: 1,
                    jealous: 1,
                    indifferent: 1,
                }

            }
        },

        methods: {

            submit(e) {

                e.preventDefault();

                client.storeImpression(this.results.uuid, this.answers).then(function () {

                    this.$emit('finishedImpression')

                }.bind(this));

            }

        }

    }

</script>

<style scoped>

    .row-question {

        margin-bottom: 1em;

    }

</style>
