<?php
    header('Access-Control-Allow-Origin: *');
    header('Access-Control-Allow-Method: GET, POST, PUT, OPTIONS');
    header('Access-Control-Allow-Credentials: true');
?>

<template>

    <div>

        <div v-show="!ui.hasError && !ui.loading && !isComplete">

            <youtube-player ref="player" :videoId="lesson.video_uri" @apiNotLoaded="showPlayerError"></youtube-player>

            <affectiva ref="affectiva" @initialized="startLesson" @webcamError="showWebcamError"
                       @initializationError="showAffectivaError"></affectiva>

            <quiz ref="quiz" :initialQuestions="lesson.questions"></quiz>

        </div>

        <div id="loader" class="text-center" v-show="ui.loading && !ui.hasError">
            <img :src="window.url('images/loading.gif')" class="loader">
            <p>{{ ui.status }}</p>
        </div>

        <div class="text-center" v-if="ui.hasError">
            <p><img :src="window.url('images/sad.png')" alt="Sad"></p>
            <button class="btn btn-default" @click="errorAction">Tentar novamente</button>
        </div>

        <div class="text-center" v-if="isComplete">
            <p><img :src="window.url('images/happy.png')" alt="Happy"></p>
            <h2>Aula concluída</h2>
            <button class="btn btn-default" @click="finish">Terminar</button>
        </div>

    </div>

</template>

<script>

    import YoutubePlayer from './youtube-player.vue';
    import Affectiva from './affectiva.vue';
    import Quiz from './quiz.vue';
    import bus from './../../../bus';
    import toastr from 'toastr';
    import client from './../../../client';

    export default {

        props: ['lesson', 'student'],

        components: {
            'youtube-player': YoutubePlayer,
            'affectiva': Affectiva,
            'quiz': Quiz
        },

        data() {
            return {
                window: window,
                ui: {
                    hasError: false,
                    loading: true,
                    status: 'Carregando aula, isso pode levar alguns minutos...'
                },
                isComplete: false,
                errorAction: function () {
                    location.reload();
                }
            };
        },

        mounted() {

            bus.$on('PLAYER_ENDED', function () {

                this.isComplete = this.$refs.quiz.isComplete();

            }.bind(this));

            bus.$on('LESSON_COMPLETE_QUIZ', function () {

                this.isComplete = this.$refs.player.isComplete();

            }.bind(this));

        },

        methods: {

            startLesson() {

                this.ui.loading = false;

                bus.$emit('PLAYER_PLAY');

            },

            showWebcamError() {

                toastr.error('Erro ao acessar a webcam do computador. Por favor, recarregue a página para tentar novamente');
                this.ui.hasError = true;

            },

            showAffectivaError() {

                toastr.error('Erro ao inicializar a aula (affectiva error). Por favor, recarregue a página para tentar novamente');
                this.ui.hasError = true;

            },

            showPlayerError() {

                toastr.error('Erro ao carregar o vídeo da aula. Por favor, recarregue a página para tentar novamente');
                this.ui.hasError = true;

            },

            finish() {

                this.ui.loading = true;
                this.ui.status = 'Finalizando aula, por favor aguarde...';

                this.isComplete = false;
                this.ui.hasError = false;

                const data = {

                    lesson_uuid: this.lesson.uuid,
                    student_uuid: this.student.uuid,
                    questions: this.lesson.questions,
                    frames: this.$refs.affectiva.getFilteredFrames()

                };

                client.storeLessonResults(data).then(function (results) {

                    this.$refs.affectiva.stop();

                    this.$emit('finishedLesson', results);

                }.bind(this)).catch(function () {

                    this.ui.hasError = true;
                    this.errorAction = this.finish;

                }.bind(this));

            }

        }

    }

</script>
