<template>

    <div class="form-group">

        <p><label>Obrigado por assistir a aula</label></p>

        <div v-html="lesson.outro"></div>

        <p>Verifique seus resultados abaixo</p>

        <div class="alert alert-success">
            <p>Porcentagem de questões certas: {{ results.right_percentage + '%' }}</p>
        </div>

        <a :href="window.url('lessons')" class="btn btn-primary">Voltar para todas as aultas</a>

        <a :href="window.url('dashboard/graphics/index')" class="btn btn-primary">Ver Resultados</a>
        
    </div>

</template>

<script>

    export default {

        props: ['lesson', 'results'],

        data() {
            return {
                window: window,

            };
        },

    }

</script>
