<template>

    <div>

        <button id="openQuestionsModal" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalQuestions" style="display: none"></button>

        <div id="modalQuestions" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Hora da pergunta</h4>
                    </div>
                    <div class="modal-body">
                        <small>Responda todas as perguntas abaixo antes de continuar ou clique em "Voltar" para assitir novamente a última parte da aula.</small>
                        <template v-for="question in current">
                            <p>{{ question.title }}</p>
                            <template v-for="option in question.options">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="question.answers" :value="option.text">
                                        {{ option.text }}
                                    </label>
                                </div>
                            </template>
                        </template>
                    </div>
                    <div class="modal-footer">
                        <button id="closeQuestionsModal" type="button" class="btn btn-default" data-dismiss="modal" style="display: none">Close</button>
                        <button type="button" class="btn btn-primary" @click="close">Voltar</button>
                        <button type="button" class="btn btn-primary" @click="finish" v-show="answeredCurrentQuestions">Continuar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

</template>

<script>

    import bus from './../../../bus';

    export default {

        props: ['initialQuestions'],

        data() {
            return {
                questions: this.initialQuestions,
                currentVideoTime: 0,
                current: []
            };
        },

        mounted() {

            this.registerListeners();

        },

        computed: {

            notAnswered() {

                return this.questions.filter(function (question) {

                    return question.answers.length === 0;

                }.bind(this));

            },

            answeredCurrentQuestions() {

                return this.current.reduce(function (answeredLastQuestion, question) {

                    return answeredLastQuestion && question.answers.length > 0;

                }, true);

            }

        },

        watch: {

            currentVideoTime(newTime) {

                this.showQuestions(this.getUnansweredQuestionsAfter(newTime));

            },

        },

        methods: {

            showQuestions(questions) {

                if(questions.length === 0)
                    return;

                bus.$emit('PLAYER_STOP');

                bus.$emit('LESSON_SHOWED_QUESTIONS', questions);

                this.current = questions;

                $("#openQuestionsModal").click();

            },

            close() {

                //Reset all answers
                this.current.forEach(function (question) {

                    question.answers = [];

                });

                this.current = [];

                bus.$emit('LESSON_FINISHED_QUESTIONS');

                $("#closeQuestionsModal").click();

            },

            finish() {

                this.current = [];

                bus.$emit('PLAYER_PLAY');

                bus.$emit('LESSON_FINISHED_QUESTIONS');

                if(this.isComplete)
                    bus.$emit('LESSON_COMPLETE_QUIZ');

                $("#closeQuestionsModal").click();

            },

            registerListeners() {

                const $this = this;

                bus.$on('PLAYER_COUNT_SECOND', function (seconds) {
                    $this.currentVideoTime = seconds;
                });

                bus.$on('PLAYER_ENDED', function () {
                    $this.currentVideoTime++;
                });


            },

            getUnansweredQuestionsAfter(seconds) {

                return this.questions.filter(function (question) {

                    return seconds >= question.seconds && question.answers.length === 0;

                });

            },

            isComplete() {

                return this.notAnswered.length === 0;

            }

        }

    }

</script>