<template>

    <div>

        <div id="lessonVideoYoutubePlayer"></div>

    </div>

</template>

<script>

    import bus from './../../../bus';

    export default {

        props: ['videoId'],

        data() {
            return {
                player: null,
                timer: null,
                lastSecond: 0,
                debug: true,
                events: {
                    //component listen to these events
                    PLAYER_STOP: 'PLAYER_STOP',
                    PLAYER_PLAY: 'PLAYER_PLAY',
                    //component fires these events
                    PLAYER_COUNT_SECOND: 'PLAYER_COUNT_SECOND',
                    PLAYER_PLAYING: 'PLAYER_PLAYING',
                    PLAYER_PAUSED: 'PLAYER_PAUSED',
                    PLAYER_ENDED: 'PLAYER_ENDED',
                }
            };
        },

        mounted() {

            if (!window.YoutubePlayer) {

                this.$emit('apiNotLoaded');
                return;

            }

            this.log('Trying to load video with id ' + this.videoId);

            this.player = new window.YoutubePlayer.Player('lessonVideoYoutubePlayer', {
                videoId: this.videoId,
                width: '720',
                height: '405',
                playerVars: {
                    'showinfo': 0,
                    'rel': 0,
                    'modestbranding': 1,
                    'disablekb': 1,
                    'controls': 1,
                    'fs': 1,
                    'iv_load_policy': 3,
                    'origin':'https://www.youtube.com'

                },
                events: {
                    'onStateChange': this.onStateChange.bind(this)
                }
            });

            bus.$on(this.events.PLAYER_STOP, function () {

                this.player.pauseVideo()

            }.bind(this));

            bus.$on(this.events.PLAYER_PLAY, function () {

                this.player.playVideo();

            }.bind(this));

        },

        methods: {

            getPlayerTime() {

                /**
                 * Convert to integer because the player
                 * returns the seconds in float.
                 */
                return parseInt(this.player.getCurrentTime())

            },

            isComplete() {

                return this.player.getPlayerState() === window.YoutubePlayer.PlayerState.ENDED;

            },

            startTimer(startSecond = null) {

                if (startSecond !== null)
                    this.lastSecond = startSecond;

                const seconds = this.getPlayerTime();

                /**
                 * We just count a second when it passes.
                 * Se if you seek to second 2 in the player,
                 * the second will only count when it changes to 3.
                 */
                if (seconds !== this.lastSecond) {

                    bus.$emit(this.events.PLAYER_COUNT_SECOND, seconds);
                    this.log('Ticked ' + seconds + ' second(s)');
                    this.lastSecond = seconds;

                }

                clearInterval(this.timer);
                this.timer = setInterval(this.startTimer, 250);

            },

            stopTimer() {

                clearInterval(this.timer);

            },

            onStateChange(state) {

                switch (state.data) {

                    case window.YoutubePlayer.PlayerState.PLAYING:

                        bus.$emit(this.events.PLAYER_PLAYING);
                        this.log('Player is playing');
                        this.startTimer(this.getPlayerTime());
                        break;

                    case window.YoutubePlayer.PlayerState.PAUSED:

                        bus.$emit(this.events.PLAYER_PAUSED);
                        this.log('Player has paused');
                        this.stopTimer();
                        break;

                    case window.YoutubePlayer.PlayerState.BUFFERING:

                        bus.$emit(this.events.PLAYER_PAUSED);
                        this.log('Player has paused (is buffering)');
                        this.stopTimer();
                        break;

                    case window.YoutubePlayer.PlayerState.ENDED:

                        bus.$emit(this.events.PLAYER_ENDED);
                        this.log('Player has ended');
                        this.stopTimer();
                        break;

                }

            },

            log(message) {

                if (!this.debug)
                    return;

                console.log(message);

            }

        }

    }

</script>
