/* ..................................................................................................... */
/* ALTO CONTRASTE */
.contrast,
.contrast nav,
.contrast div,
.contrast li,
.contrast ol,
.contrast header,
.contrast footer,
.contrast section,
.contrast main,
.contrast aside,
.contrast article {
    background: black !important;
    color: white !important;
}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p,
.contrast label,
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast i,
.contrast b,
.contrast u,
.contrast span {
    color: white !important;
}

.contrast a{
    color: yellow !important;
}


/* link que foi visitado */
.contrast #acessibilidade a:visited {
     background: black !important;
    color: yellow !important;
}

/* mouse over */
.contrast #acessibilidade a:hover {
    background: black !important;
    color: yellow !important;
}

/* link selecionado */
.contrast #acessibilidade a:active {
    background: black !important;
    color: yellow !important;
}


.contrast .dropdown-menu{
     background: black !important;
    color: yellow !important;
}

.contrast .dropdown-toggle{
     background: black !important;
    color: yellow !important;
}


.contrast .dropdown-menu>li>a:hover{
     background: black !important;
    color: yellow !important;
}


.contrast .pagination a{
    background: black !important;
}

.contrast .pagination a>span{
    color: yellow !important;
}

.contrast .btn{
     background: black !important;
    color: yellow !important;
}

.contrast button,
.contrast input[type=button],
.contrast input[type=reset],
.contrast input[type=submit] {
    background: black !important;
    color: yellow !important;
    border: none !important;
}

.contrast input[type=text],
.contrast input[type=password],
.contrast input[type=url],
.contrast input[type=search],
.contrast input[type=email],
.contrast input[type=tel],
.contrast input[type=date],
.contrast input[type=month],
.contrast input[type=week],
.contrast input[type=datetime],
.contrast input[type=datetime-local],
.contrast textarea,
.contrast input[type=number] {
    background: black !important;
    border: 1px solid white !important;
    color: white !important;
}

.contrast img.on-contrast-force-gray {
    filter: grayscale(100%) contrast(120%);
}

.contrast img.on-contrast-force-white {
    filter: brightness(0) invert(1);
}


.contrast img {
    -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}



/* link que foi visitado */
.contrast .conteudo-rodape a:visited {
    background: black !important;
    color: yellow !important;
}


/* link selecionado */
.contrast .conteudo-rodape a:active {
    background: black !important;
    color: yellow !important;
}

.contrast .conteudo-rodape a {
    color: yellow !important;
}


.contrast .conteudo-rodape a:hover {
    color: yellow !important;
    text-decoration: none;
}