
#footer {
    background: #e3eaed;
    color: #005a92;
    margin-bottom: 0;
    width: 100%;
    min-height: 20%;
    position: absolute;
    border-top: 1px solid #d3e0e9;
}


.conteudo-rodape {
    font-size: 14px;
    margin: 20px 0px;
    text-align: justify;
}

.conteudo-rodape a, p {
    font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
}

.conteudo-rodape a{
    color: #0075a8;
}

.conteudo-rodape p{
    color: #101010;
}

.conteudo-rodape a:hover {
    color: #00405c;
    text-decoration: none;
}


.conteudo-rodape h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

#app {
    min-height: 75%;
}