<template>

    <div>

        <email-verification v-if="isStep(steps.verification)" @studentFound="setStudent"></email-verification>

        <registration-form v-if="isStep(steps.registration)" :student="student"
                           @registrationFinished="finishRegistration"></registration-form>

        <finish-registration v-if="isStep(steps.finish)" :student="student"></finish-registration>
    </div>
</template>

<script>

    import EmailVerification from './components/email-verification.vue';
    import RegistrationForm from './components/form-registration.vue';
    import FinishRegistration from './components/finish-registration.vue';

    export default {

        components: {
            'email-verification': EmailVerification,
            'registration-form': RegistrationForm,
            'finish-registration': FinishRegistration,
        },

        data() {
            return {
                window: window,
                steps: {
                    verification: 1,
                    registration: 2,
                    finish: 3
                },
                ui: {step: 1},
                student: null,

            };
        },

        methods: {

            setStep(step) {
                this.ui.step = step;
            },

            isStep(step) {
                return this.ui.step === step;
            },

            setStudent(student) {

                this.student = student;

                if (!student.needs_to_register) {
                    return this.setStep(this.steps.finish)
                } else {
                    return this.setStep(this.steps.registration);
                }


            },

            finishRegistration() {

                return this.setStep(this.steps.finish)

            },

            showOutro() {

                this.setStep(this.steps.outro);

            }

        }

    }

</script>
