<template>

    <div>

        <div id="loader" class="text-center" v-show="ui.loading"><img :src="window.url('images/loading.gif')"
                                                                      class="loader"></div>

        <div v-show="!ui.loading">

            <div v-show="!email">

                <email-verification :email="email" v-if="isStep(steps.verification)"
                                    @verificationFinished="showRegistration" :description="lesson.description"
                                    @studentFound="setStudent"></email-verification>
            </div>

            <registration-form v-if="isStep(steps.registration)" :student="student"
                               @registrationFinished="startIls"></registration-form>


            <ils-form v-if="isStep(steps.ils)" :ils="ils" :student="student"
                      @ilsFinished="showIntroduction"></ils-form>

            <div class="form-group" v-if="isStep(steps.introduction)">

                <p><label>Introdução</label></p>

                <div v-html="lesson.description"></div>

                <button class="btn btn-primary btn-block btn-next" @click="watchLesson">Próximo</button>

            </div>

            <lesson v-if="isStep(steps.lesson)" :lesson="lesson" :student="student"
                    @finishedLesson="finishLesson"></lesson>

            <impression v-if="isStep(steps.impression)" :lesson="lesson" :student="student" :results="results"
                        @finishedImpression="showOutro"></impression>

            <outro v-if="isStep(steps.outro)" :lesson="lesson" :results="results"></outro>
        </div>

    </div>

</template>

<script>

    import EmailVerification from './components/email-verification.vue';
    import RegistrationForm from './components/form-registration.vue';
    import IlsForm from './components/ils-form.vue';
    import Lesson from './components/lesson.vue';
    import Impression from './components/impression.vue';
    import Outro from './components/outro.vue';
    import client from './../../client';

    export default {

        props: ['email'],

        components: {
            'email-verification': EmailVerification,
            'registration-form': RegistrationForm,
            'ils-form': IlsForm,
            'lesson': Lesson,
            'impression': Impression,
            'outro': Outro,
        },

        data() {
            return {
                window: window,
                steps: {
                    verification: 1,
                    registration: 2,
                    ils: 3,
                    introduction: 4,
                    lesson: 5,
                    impression: 6,
                    outro: 7
                },
                ui: {loading: true, step: 1},
                student: null,
                ils: null,
                lesson: null,
                results: null,
            };
        },

        mounted() {

            client.getLesson(this.getLessonSlugFromUrl()).then(function (lesson) {

                this.lesson = lesson;

                this.setStep(this.steps.verification);

                this.ui.loading = false;

            }.bind(this));

        },

        methods: {

            getLessonSlugFromUrl() {
                const parts = window.location.pathname.split('/');
                return parts[parts.length - 1];
            },

            setStep(step) {
                this.ui.step = step;
            },

            isStep(step) {
                return this.ui.step === step;
            },

            setStudent(student) {

                this.student = student;

                if (student.needs_to_register)
                    return this.setStep(this.steps.registration);

                if (!student.hasIls)
                    return this.startIls();

                this.ui.loading = false;
                return this.showIntroduction();

            },

            startIls() {

                client.getIls().then(function (ils) {

                    this.ils = ils;

                    this.setStep(this.steps.ils);

                }.bind(this));

            },

            showRegistration() {

                this.setStep(this.steps.registration);

            },

            showIntroduction() {

                this.setStep(this.steps.introduction);

            },

            watchLesson() {

                this.setStep(this.steps.lesson);

            },

            finishLesson(results) {

                this.results = results;

                this.setStep(this.steps.impression);

            },

            showOutro() {

                this.setStep(this.steps.outro);

            }

        }

    }

</script>
