<?php
    header('Access-Control-Allow-Origin: *');
    header('Access-Control-Allow-Method: GET, POST,OPTIONS');
    header('Access-Control-Allow-Credentials: true');
?>

<template>

    <div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <input type="text" class="form-control"
                           placeholder="Pesquisar por título da aula" v-model="search">
                </div>
            </div>
        </div>

        <div id="message" v-if="!isstudent" class="row toast-error" style="color: white; text-align: center; height: auto; display: flex;
  align-items: center; margin-bottom: 1rem; margin-left: 0.2rem; margin-right: 0.2rem">
            <div class="col-md-12">
                <p align="center" style="margin: 0.8rem; font-size: 1.6rem">Somente alunos autenticados podem assistir as aulas!</p>
            </div>
        </div>


        <div class="row" v-for="lessonSet in chunkLessons">

            <div v-for="lesson in lessonSet" class="col-md-4">

                <div class="panel panel-default" v-if="isstudent">
                    <a :href="lesson.url">
                        <img :src="'https://img.youtube.com/vi/'+lesson.youtube_id+'/sddefault.jpg'" width="100%">
                    </a>
                    <div class="panel-body">
                        <a :href="lesson.url"><h3>{{ lesson.title }}</h3></a>
                        <small>{{ lesson.teacher }}</small>
                        <br>
                        <small>{{ lesson.area }}</small>
                    </div>
                    <div class="panel-footer">
                        <a :href="lesson.url" class="btn btn-primary">Assistir</a>
                    </div>
                </div>

                <div class="panel panel-default" v-if="!isstudent">
                    <a><img :src="'https://img.youtube.com/vi/'+lesson.youtube_id+'/sddefault.jpg'" width="100%"></a>
                    <div class="panel-body">
                        <h3>{{ lesson.title }}</h3>
                        <small>{{ lesson.teacher }}</small>
                        <br>
                        <small>{{ lesson.area }}</small>
                    </div>
                    <div class="panel-footer">
                        <a href="#message" class="btn btn-default">Assistir</a>
                    </div>
                </div>
            </div>

        </div>

        <h1 v-show="lessons.length === 0" class="text-center">

            Nenhum resultado encontrado

        </h1>

        <nav class="text-center" v-show="canPaginate">
            <ul class="pagination pagination-lg">
                <li v-bind:class="{ disabled: pagination.prev_page_url === null }">
                    <a href="#" @click="paginate(pagination.current_page - 1)">
                        <span aria-hidden="true">Atrás</span>
                    </a>
                </li>
                <li v-bind:class="{ disabled: pagination.next_page_url === null }">
                    <a href="#" @click="paginate(pagination.current_page + 1)">
                        <span aria-hidden="true">Siguiente</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

</template>

<script>

    import client from './../../client';
    import toastr from 'toastr';

    export default {

        props:['all', 'isstudent'],
        data() {
            return {
                allLes: this.all,
                lessons: [],
                pagination: {
                    prev_page_url: null,
                    next_page_url: null,
                    current_page: 0,
                    last_page: 0
                },
                search: '',
                timeout: null
            };
        },

        mounted() {
            if (this.allLes === "1"){
                this.searchAllLessons();
            }
            if (this.allLes === "0"){
                this.searchLessons();
            }
        },

        watch: {

            search(newValue) {

                clearTimeout(this.timeout);
                this.timeout = setTimeout(function () {

                    this.searchLessons(newValue);

                }.bind(this), 500);

            }

        },

        computed: {

            chunkLessons() {

                let start, end, chunk = 3;

                let chunked = [];

                for (start = 0, end = this.lessons.length; start < end; start += chunk) {

                    chunked.push(this.lessons.slice(start, start + chunk));

                }

                return chunked;

            },

            canPaginate() {

                return this.pagination.prev_page_url !== this.pagination.next_page_url;

            }

        },

        methods: {

            searchLessons(search = '', page = 1) {

                client.searchLessons(search, page).then(function (data) {

                    this.lessons = data.lessons;
                    this.pagination = data.pagination;

                }.bind(this));

            },

            searchAllLessons(search = '', page = 1) {

                client.searchAllLessons(search, page).then(function (data) {

                    this.lessons = data.lessons;
                    this.pagination = data.pagination;

                }.bind(this));
            },

            paginate(page) {

                if (page === 0 || page > this.pagination.last_page)
                    return;

                this.searchLessons(this.search, page);

            },

        }
    }

</script>
